<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Sys</title>
    <link rel="shortcut icon" href="LOGO.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="site-header">
        <section class="container">
                <section class="left">
                    <div class="logo-content">
                        <img src="LOGO.png" alt="logo" width="30px"> <span id="logo">GETMAN</span>
                    </div>
                    <div class="why-sign-up">
                        <h2>Why sign up?</h2>
                        <ul>
                            <li>Organize all your API development within Postman Workspaces</li>
                            <li>Sync your Postman data across devices</li>
                            <li>Backup your data to the Postman cloud</li>
                            <li>It's free!</li>
                        </ul>

                    </div>
                    <div class="image-container">
                        <img src="yy.png" alt="" width="100px">
                    </div>
                </section>
                <section class="right">
                    <h1>Create Getman Account</h1>
                    <form action="/signup" method="post" role="form">
                        <div class="email fields">
                            <label for="Email">Email</label> <br>
                            <input type="email" name="email" id="">
                        </div>
                       
                        <div class="username fields">
                            <label for="Username">Username</label> <br>
                            <input type="text" name="username" id="">
                        </div>
                       
                        <div class="password fields">
                            <label for="Password">Password</label> <br>
                            <input type="password" name="password" id="">
                        </div>
                        <div class="submit-field fields">
                            <p>By creating an account, I agree to the Terms and Privacy Policy.</p>
                            <button type="submit" class="submit-btn">Create free account</button>
                        </div>
                       
        
                    </form>
                </section>

                    </form>
            </section>
        </section>
    </header>
</body>
</html>